div{
    padding-top: 50px;

}
body{
    background-color:rgb(218, 213, 213);
}
header{
    background-color:rgb(231, 209, 82);
}
#xxx{
    background-color:rgb(245, 234, 187);
}
#iiii{
    background-color:rgb(212, 138, 138);
}
#mmm{
    background-color: rgb(121, 121, 224);
}
#vvv{
    background-color:rgb(33, 129, 33);
}
footer{
    background-color: rgb(129, 58, 58);
}
h5{
    text-align: center;
    color: rgb(185, 57, 57);
}


